* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    max-width: 100vw;
    height: 400px;
    background-color: red;
    border: 1px solid black;
}
.navbar{
    max-width: 100vw;
    height: 100px;
    background-color: #ffffff;
    border: none;
}
.navbar nav{
    position: relative;
    margin: 0 auto;
    width: 75vw;
    height: 100px;
    background-color: #ffffff;
}
.advisor{
    max-width: 100vw;
    height: 100px;
    background-color: #425b76;
    border: none;
}
.advisor nav{
    position: relative;
    margin: 0 auto;
    width: 75vw;
    height: 100px;
    background-color: #425b76;
}
.principal{
    max-width: 100vw;
    -height: 100px;
    background-color: #fff3ee;
    border: none;
}
.principal main{
    position: relative;
    margin: 0 auto;
    width: 75vw;
    height: 400px;
    background-color: #fff3ee;
}
.spazio{
    max-width: 100vw;
    -height: 100px;
    background-color: #3ecdbb;
    border-top: 4px solid #2d3e50;
    border-bottom: 4px solid #2d3e50;
}
.spazio section{
    position: relative;
    margin: 0 auto;
    width: 75vw;
    height: 100px;
    background-color: #3ecdbb;
}
