* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.content {
    max-width: 100vw;
    height: 400px;
    background-color: red;
    border: 1px solid black;
}
.navbar{
    max-width: 100vw;
    -height: 100px;
    background-color: #ffffff;
    border: none;
    -text-transform: uppercase;
}
.navbar nav{
    position: relative;
    margin: 0 auto;
    width: 75vw;
    height: 80px;
    background-color: #ffffff;
}
/* PRIMO CONTENUTO */
nav img{
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    float: left;
}
#navbar {
    line-height:50px;
    float: right;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}
#navbar li{
    margin: 0 5px;
    font-size: 15px;
    list-style: none;
    float: left;
}
#navbar li a{
    color: #33475b;
    text-decoration: none;
    margin: 15px;
}
/* FINE PRIMO CONTENUTO */
/* INIZIO SECONDO CONTENUTO */
.advisor{
    max-width: 100vw;
    -height: 100px;
    background-color: #425b76;
    border: none;
}
.advisor-avviso{
    position: relative;
    margin: 0 auto;
    width: 75vw;
    height: 90px;
    background-color: #425b76;
}
.advisor-avviso #testo p{
    color: white;
    float: left;
    width: 80%;
    position: relative;
    transform: translateY(-50%);
    top: 45px;
    left: 20px;
}

.advisor-avviso #bottone{
    display: inline-block;
    float: right;
    width: 100px;
    height: 40px;
    border-radius: 5%;
    border-style: none;
    background-color: #ffffff;
    position: relative;
    transform: translateY(-50%);
    top: 45px;
    color: #425b76;
}



/* FINE SECONDO CONTENUTO */


/* INIZIO SECONDO */
.principal{
    max-width: 100vw;
    -height: 100px;
    background-color: #fff3ee;
    border: none;
}
.principal main{
    position: relative;
    margin: 0 auto;
    width: 75vw;
    height: 600px;
    background-color: #fff3ee;
}
.principal-titolo{
    width: 400px;
    height: 150px;
    position: relative;
    top: 90px;
}
.principal-titolo h1{
    font-size: 55px;
    color:#33475b;
}
.principal-testo{
    width: 380px;
    height: 100px;
    position: relative;
    top: 90px;
    margin-bottom: 8px;
}
.principal-testo small{
    position: relative;
    top: 30px;
    font-size: 15px;
}
.principal #button{
    width: 220px;
    height: 80px;
    position: relative;
    top: 90px;
    border-radius: 5%;
    border-style: none;
    background-color: #ff7a59;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
}
.principal-end{
    width: 150px;
    height: 50px;
    position: relative;
    top: 90px;
}
.principal-end h5{
    color:#33475b;
    font-size: 10px;
    position: relative;
    top: 20px;
}

/* FINE SECONDO */
/* BARRA*/

.spazio{
    max-width: 100vw;
    -height: 100px;
    background-color: #3ecdbb;
    border-top: 4px solid #2d3e50;
    border-bottom: 4px solid #2d3e50;
}
.spazio section{
    position: relative;
    margin: 0 auto;
    width: 75vw;
    height: 100px;
    background-color: #3ecdbb;
}

/* FINE BARRA */
/* INIZIO TERZO */
.principal-2{
    max-width: 100vw;
    -height: 100px;
    background-color: #f5f8fa;
    border: none;
}
.principal-2 main{
    position: relative;
    margin: 0 auto;
    width: 75vw;
    height: 1600px;
    background-color: #f5f8fa;
    text-align: center;
}
.principal-2 img{
    position: relative;
    width: 250px;
    top: 130px;
}
.principal-2 #titolo{
    position: relative;
    font-size: 25px;
    top: 130px;
}
.principal-2 #descrizione{
    position: relative;
    font-size: 25px;
    top: 150px;
}
.content{
    background-color: #f5f8fa;
    width: 100%;
    height: 900px;
    position: relative;
    top: 200px;
    margin-bottom: 20px;
    padding-left: 8%;
    padding-right: 8%;
    border: none;
}
.content-primo{
    background-color: #ffffff;
    width: 100%;
    height: 250px;
    padding: 10px;
    margin-bottom: 4%;
    border-radius:2%;
    text-align: center;
}
.content-primo img{
    width: 120px;
    height: 120px;
    position: relative;
    top: 20px;
    float: left;
    left: 120px;
}

.content-primo button{
width: 120px;
height: 40px;
position: relative;
top: 170px;
border-radius: 5%;
border-style: none;
background-color: #ff7a59;
color: #ffffff;
font-size: 15px;
cursor: pointer;
float: left;
}
.content-primo h2{
    top: 20px;
    position: relative;
    float: left;
    left: 10%;
}
.content-primo p{
    top: 69px;
    position: relative;
    text-align: initial;
    float: left;
    right: 74px;
    width: 462px;
}
.content-primo h4{

    position: relative;
    text-align: initial;
    left: 88px;
    top: 90px;
}
.content-primo h4 hr{
    color: #eff2f6;
    position: relative;
    top: -8px;
    left: 256px;
    width: 378px;
}
.content-primo ul{
    top: 100px;
    position: relative;
    text-align: initial;
    left: 22%;
    list-style: none;
}
.content-primo ul li{
    float: left;
    line-height: 60px;
    margin-left: 26px;
}
.content-secondo{
    background-color: #ffffff;
    width: 30%;
    height: 650px;
    padding: 10px;
    float: left;
    border-radius:2%;
    text-align: center;
}
.content-secondo img{
    width: 150px;
    height: 150px;
    position: relative;
    top: 25px;
}
.content-secondo h2{
    top: 40px;
    position: relative;
}
.content-secondo p{
    top: 60px;
    position: relative;
    text-align: initial;
}
.content-secondo hr{
    color: #eff2f6;
    top: 90px;
    position: relative;
}
.content-secondo h4{
    top: 120px;
    position: relative;
}
.content-secondo ul{
    top: 150px;
    position: relative;
    text-align: initial;
    left: 10%;
    list-style: none;
}
.content-secondo button{
    width: 120px;
    height: 40px;
    position: relative;
    top: 190px;
    border-radius: 5%;
    border-style: none;
    background-color: #ff7a59;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
}
.content-inmezzo{
    background-color: #f5f8fa;
    width: 40%;
    height: 650px;
    padding: 10px;
    float: left;
    padding-top: 0;
    padding-left: 45px;
    padding-right: 45px;
}
#centrale{
    background-color: #ffffff;
    height: 650px;
    padding: 10px;
    border-radius: 2%;
}
#centrale img{
    width: 150px;
    height: 150px;
    position: relative;
    top: 25px;
}
#centrale h2{
    top: 40px;
    position: relative;
}
#centrale p{
    top: 60px;
    position: relative;
    text-align: initial;
}
#centrale hr{
    color: #eff2f6;
    top: 90px;
    position: relative;
}
#centrale h4{
    top: 120px;
    position: relative;
}
#centrale ul{
    top: 150px;
    position: relative;
    text-align: initial;
    left: 10%;
    list-style: none;
}
#centrale button{
    width: 120px;
    height: 40px;
    position: relative;
    top: 190px;
    border-radius: 5%;
    border-style: none;
    background-color: #ff7a59;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
}

/* FINE TERZO */
/* INIZIO QUARTO BLOCCO */
.dati{
    max-width: 100vw;
    -height: 100px;
    background-color: #00b0b1;
    border: none;
}

.dati main{
    position: relative;
    margin: 0 auto;
    width: 75vw;
    height: 900px;
    background-color: #00b0b1;
    text-align: center;
}
.dati #titolo{
    position: relative;
    font-size: 25px;
    top: 130px;
    color: white;
}
.dati #descrizione{
    position: relative;
    font-size: 25px;
    top: 150px;
    color: white;
    width: 60%;
    margin: auto;
}
#titolo h3{
    width: 55%;
    margin: 0 auto;
}
.tabella{
    width: 1000px;
    height:360px;
    position: relative;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 400px;
}
.tabella-content{
    border: 1px solid #ffffff;
    width: 250px;
    height: 180px;
    float: left;
    text-align: center;
}
.tabella-content img{
    top: 30px;
    position: relative;
}
.tabella-content h2{
    position: relative;
    top: 50px;
    font-size: 40px;
}
.tabella-content p{
    position: relative;
    top:50px;
}




#uno{
    border-left: none;
    border-top: none;
}
#due{
    border-top: none;
}
#tre{
    border-right: none;
    border-top: none;
}
#quattro{
    border-left: none;
    border-bottom: none;
}
#cinque{
    border-bottom: none;
}
#sei{
    border-right: none;
    border-bottom: none;
}










/* FINE TERZO BLOCCO     */
.principal-3{
    max-width: 100vw;
    -height: 100px;
    background-color: #f5f8fa;
    border: none;
}
.principal-3 main{
    position: relative;
    margin: 0 auto;
    width: 75vw;
    height: 950px;
    background-color: #f5f8fa;
    text-align: center;
}
.principal-3content{
    width: 330px;
    height: 190px;
    left: 5%;
    position: relative;
    top: 120px;
    text-align: left;
    font-size: 25px;
    line-height: 34px;
    color: #33475b;
}
.principal-3content main img{
    float: right;
}
.principal-3marche{
    width: 500px;
    height: 200px;
    float: right;
    position: relative;
    bottom: 74px;
}

#marche{
    width: 25%;
    height: 100px;
    float: left;
    padding: 20px;
}
.principal-3marche #marche img{
    width: 100px;
}

/* FINE TERZO BLOCCO */
/* INIZIO QUARTO BLOCCO */
.principal4{
width: 100%;
height: 500px;
position: relative;
top: 204px;
text-align: left;
}
.principal4-titolo{
width: 400px;
height: 150px;
position: relative;
top: 90px;
}
.principal4-titolo h1{
font-size: 31px;
color:#33475b;
text-align: left;
position: relative;
bottom: 32px;
}
.principal4-testo{
width: 380px;
height: 100px;
position: relative;
top: 90px;
margin-bottom: 8px;
}
.principal4-testo small{
position: relative;
top: -80px;
font-size: 15px;
color:#33475b;
}
.principal4 #button{
width: 220px;
height: 80px;
position: relative;
border-radius: 5%;
border-style: none;
background-color: #ff7a59;
color: #ffffff;
font-size: 15px;
cursor: pointer;
float: left;
}
.principal4-end{
width: 150px;
height: 50px;
position: relative;
top: 90px;
}
.principal4-end h5{
    color:#33475b;
    font-size: 10px;
    position: relative;
    top: -63px;
    width: 307px;
    height: 26px;
    float: left;
}
.principal4 img{
    width: 350px;
    position: relative;
    bottom: 309px;
    float: right;
}

/* FINE QUARTO BLOCCO */
/* INIZIO QUINTO BLOCCO */
.finale{
    max-width: 100vw;
    -height: 100px;
    background-color: #425b76;
    border: none;
}
.finale main{
    position: relative;
    margin: 0 auto;
    width: 75vw;
    height: 800px;
    background-color:#425b76;
}
.liste{

    width: 100%;
    height: 250px;
}
.liste ul{
    color: #c6d2dd;
    position: relative;
    text-align: initial;
    left: 10%;
    list-style: none;
    float: left;
    margin-right: 162px;
    font-size: 19px;
    top: 72px;

}
.tasto{
    width: 20%;
    height: 100px;
    position: relative;
    float: right;
}
.tasto button{
    width: 150px;
    height: 30px;
    border-radius: 5%;
    border-style: none;
    background-color: #ffffff;
    color: #33475b;
    font-size: 15px;
    cursor: pointer;
}
.footer{
    background-color:red;
    width: 100%;
    height: 150px;
    position: relative;
    top: 150px;
}
#navbara {
    line-height: 50px;
    position: relative;
    left: 30%;
    top: 10%;
}

#navbara li{
    margin: 0 5px;
    font-size: 15px;
    list-style: none;
    float: left;
}
#navbara li a{
    color: #33475b;
    text-decoration: none;
    margin: 15px;
}
